{% extends 'police_index.html' %}
{% block content %}

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Disciplinary Action</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Disciplinary Action</li>
            <li class="breadcrumb-item active" aria-current="page">Disciplinary Action</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Disciplinary Action</h6>
                </div>
                <div class="card-body">
                    <form action="{% url 'disciplinary_action' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="">Reason</label>
                                    <input type="text" name="reason" class="form-control" placeholder="Reason">
                                    <input type="hidden" value="{{dl_id}}" name="id" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="">Fine Amount</label>
                                    <input type="text" name="amount" class="form-control" placeholder="Fine Amount">
                                </div>
                            </div>

                        </div>
                       
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <!--Row-->

    {% if data %}
    <div class="col-lg-12">
             
        <div class="card mb-4">
            <div class="card-body">   
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Dl No</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Paid</th>
                </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                <tr>
                    <th scope="row">{{i.dlid.dl_no}}</th>
                    <td>{{i.reason}}</td>
                    <td>{{i.amount}}</td>
                    <td><a href="{% url 'fine_status' id=i.id %}"><button class="btn btn-primary">Paid</button></a></td>
                </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
            </div>
    </div>
    {% endif %}    
    </div>
    </div>
    <!---Container Fluid-->

    {% endblock %}