{% extends 'search_rc.html' %}
{% block content %}

<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="container text-center py-5">
      <h1 class="display-4 text-white  slideInDown mb-4">
        Search RC
      </h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item">
            <a class="text-white" href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="text-white" href="#">Pages</a>
          </li>
          <li class="breadcrumb-item text-primary active" aria-current="page">
            Search RC
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <form action="{% url 'submit_dl' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{dlid}}" name="dlid">
                <div class="form-group pt-5">
                    <label for="exampleInputEmail1">Date Of Birth</label>
                    <input type="date" name="dob" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Of Birth">
                </div>
                <div class="form-group pt-5">
                   <input type="submit" value="Add" class="btn btn-primary py-3 px-5" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </form>       
        </div>


       
        </div>
    </div>
  </div>

{% endblock %}