
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'digivehicle/img/logo/logo.png' %}" rel="icon">
  <title>Admin - Login</title>
  <link href="{% static 'digivehicle/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'digivehicle/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'digivehicle/css/ruang-admin.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-login">
  <!-- Login Content -->
  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Admin Login</h1>
                  </div>
                  <form class="user" action="{% url 'adlogin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="text" name="username" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember
                          Me</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="submit" class="btn btn-primary btn-block" value="Login">
                    </div>
                   
                  </form>
                
                  
                  <div class="text-center">
                    {{msg}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Content -->
  <script src="{% static 'digivehicle/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'digivehicle/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'digivehicle/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'digivehicle/js/ruang-admin.min.js' %}"></script>
</body>

</html>